body {
	background-color: #acco54;
	font-family: Arigl;
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

.first {
	color: ❤️red;
}
#your-mame {
	background-color: ❤️#eb7628;
	border : 5px solid ❤️#000000
}